In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as plfg
import numpy as np
%matplotlib inlinefadgaddddfafdsdddddd
import wget

In [ ]:
# fname= wget.download('CLOUD')

In [5]:
# Load your data
df = pd.read_excel('C:/Users/ailaty/Desktop/Python Scripts/CO2emission prediction/variation_data.xlsx')

# Assuming your data is in a column named 'Values'
# Splitting the 'Values' column by comma, accounting for the initial 'CO2 (ppm): ' string
data = df['Values'].str.split(',', expand=True)

# Handling the 'CO2 (ppm): ' prefix and considering the first value after the prefix as the label
labels = data.iloc[:, 1]  # Second column (label)
features = data.iloc[:, 2:]  # Remaining columns (features)

# Rename columns for clarity (optional step)
features.columns = [f'Feature_{i}' for i in range(1, 10)]
labels.name = 'Label'

# Concatenate features and labels into a new DataFrame
df = pd.concat([features, labels], axis=1)

# Save the processed data to a new CSV file
df.to_csv('newdataset.csv', index=False)

In [6]:
# summarize the data
df.describe()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Label
count,1799,1799,1799,1799,1799,1799,1799,1799,1799,1799
unique,577,566,562,579,274,309,218,136,253,408
top,410,581,407,406,410,635,407,404,409,407
freq,163,33,271,351,196,38,224,235,347,168

In [7]:
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]